@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to KaBSaV Rentals</b></h1>
    <br />
    <table>
        <tr>
            <td colspan="3">
                <div class="Home1">
            Looking for additional storage space or a secure parking spot? At KaBSaV Rentals, we provide a platform that connects property owners with renters looking for storage units, parking lots, and parking stalls. Whether you’re a property owner looking to rent out your space or someone searching for the perfect place to store your items or park your vehicle, we make the process easy, secure, and efficient.
                    <br />
        </div>
        </td>
        </tr>
        <tr>
            <td><img class="img-fluid" src="~/css/images/main.jpg" /></td>
            <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
                <h4 class="display-8"><b>Our Services</b></h4>
            <div class="Home1">
                    <ul>
                        <li>Storage Units: Property owners with available storage units can list them on our platform, offering renters a secure space for personal or business use. Renters can easily find and rent units based on their size and location preferences.</li>
                        <br />
                        <li>Parking Lots & Stalls: Property owners with available parking lots or parking stalls can offer their spaces to renters who need convenient and safe parking for cars, motorcycles, RVs, and more. Our platform makes it simple for renters to find parking options that work for them.</li>
                        <br />
                        <li>Property Listing & Management: Property owners can easily list their available spaces, set rental rates, and manage bookings through our platform. Renters can browse, contact property owners, and rent with confidence.</li>
                        <br />
                        <li>Future Expansions: We are expanding our offerings to include more property types. In the future, you’ll be able to rent and list commercial spaces, event venues, and other specialty properties that fit your needs.</li>
                    </ul>
            </div>
        </td>
       </tr>
       <tr>
        </tr>
    </table>
    
    
</div>
