@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KaBSaV Rentals</h1>
    <br />
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img width="60%" height="60%" src="~/css/images/main.jpg" />
</div>
